h1 { 
    color: #5311aa;
}

.green-text {
    color: green;
}

.red-text {
    color: red;
}

.logoImage {
    max-width: 300px;
}

.heroImage {
    max-width: 200px;
}
#heroText{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 4em;
    margin:0;
    text-transform: uppercase;
    color:rgb(255,0,0);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: yellow;
    text-shadow: 2px 1px #292929;
}